.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
    grid-gap: 20px;
}